
.activityList {
  padding:12px 12px 0;
}

.activityItem {
  padding: 16px 0;
  border-bottom: 1px solid @border-color-base;

  &Header {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
  }
  &ImageList {
    width: 325px;
  }
  &Footer {
    margin-top: 8px;

  }
}
