.company-info-content {
  :global {
    .ogo-card-body {
      padding: 0 !important;
    }
  }
}

.company-top-content {
  :global {
    .ogo-card-body {
      padding-top: 0;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }


}

.operation-btn {
  display: flex;
  align-items: center;
  height: 20px;
  width: 40px;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 18px;
  overflow: hidden;

  &:hover {
    background-color: @primary-color;
    color: @white-color;
  }
}
