.operation-btn {
  display: flex;
  align-items: center;
  height: 20px;
  width: 40px;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 18px;
  overflow: hidden;
  &:hover {
    background-color: @primary-color;
    color: @white-color;
  }
}
