.branch_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 6rem 0.6rem 1rem;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;

  &:hover {
    background-color: #ffffee;
  }

  &:last-child {
    border-bottom: 0;
  }

  .flex_public {
    display: flex;
    align-items: center;

    .master_tag {
      display: block;
      color: #3e5ed8;
      padding: 0.1rem 0.6rem;
      background-color: #ddd;
      border-radius: 0.2rem;
      margin-right: 0.6rem;
    }
    .commit_text {
      color: #606266;
    }
  }
}
