.containers {
  padding: 0 0 0.4rem 0.4rem;
  position: relative;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 0.4rem;
}
.headerStyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 11;
  display: flex;
  justify-content: center;
}

.contentStyle {
  text-align: center;
  background-color: #fff;
}

.containers img {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 28px;
  font-weight: bold;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  width: 80%;
  user-select: none;
}

.nav-item {
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s;
}

.nav-item:hover {
  color: #108ee9;
}

.top-imgs {
  width: 100%;
  height: 730px;
  padding: 0;
  margin: 0;
}
.top-imgs > img {
  width: 100%;
  height: 100%;
}
.mod1 {
  padding: 0 20rem;
  height: 486px;
  background: url('@/assets/OpenImg/OpenSharing/mod1.png') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mod1 .img1 {
  width: 552px;
  height: 427px;
}
.mod1 .fontText {
  width: 536px;
  height: 87px;
}
.mod1 .text {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #042166;
  margin-bottom: 40px;
}
.mod1 .text1 {
  width: 536px;
  height: 87px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #042166;
}
.mod2 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 486px;
  padding: 0 20rem;
  text-align: center;
}
.mod2 p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #042166;
  width: 343px;
  height: 53px;
}
.mod2 .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #042166;
}
.mod2 img {
  width: 305px;
}
