.mapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.dictMapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 100%;
}

.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fields {
  margin-top: 10px;
  width: 100%;
  max-height: calc(80vh);
  overflow: scroll;
}

.dicts {
  max-height: calc(70vh);
  margin-top: 10px;
  overflow: scroll;
}

.center {
  margin-top: 10px;
  height: calc(100vh - 20px);
  width: 100%;
  overflow: scroll;
  font-size: 16px;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagName {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
