.customMenu {
  :global {
    .ogo-menu-title-content {
      margin-left: 6px;
    }
    .ogo-menu-submenu-title {
      padding-right: 6px;
    }
    .ogo-typography {
      color: inherit;
    }
  }
}
