:global {
  .ogo-tree .ogo-tree-treenode-draggable .ogo-tree-draggable-icon {
    display: none;
  }
}

.container {
  padding-left: 18px;
  padding-right: 6px;
}

.top {
  height: 40px;
}

.title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
}

.treeTitleBox {
  display: flex;
  justify-content: space-between;
}

.titleIcon {
  &:nth-of-type(2) {
    font-size: 17px;
  }

  &:hover {
    color: @primary-color;
  }
}
