.homepage {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;

  .headBanner {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: 50% 20%;
    background-size: cover;
  }
}
