.pages-wrap {
  :global {
    .ogo-card.ogo-card-bordered.ogo-card-contain-tabs {
      border: none;
    }

    .ogo-card-head {
      border: none;
      padding: 0 24px;
    }

    .ogo-tabs-nav::before {
      border: none !important;
    }

    .ogo-card-body {
      padding: 4px;
    }

    .ogo-tabs-tab {
      padding: 7px 0 !important;
      font-size: 13px !important;
    }
  }

  .page-content-table {
    flex: 1;
    height: calc(100% - 380px);


  }
}
