.audio-drag-box {
  margin-left: 80%;
  margin-top: 10px;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 10px 7px;
  backdrop-filter: blur(13px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.audio-top,
.audio-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  span{
    margin: 0 5px;
  }
}


.audio-close{
  position: absolute;
  top: -5px;
  right: -5px;
  display: none;
}

.audio-drag-box:hover .audio-close {
  display: block;
}

.audio-volume{
  height: 100px;
}

.audio-but-box {
}
.audio-target-box{
  height: 100%;
  display: flex;
  justify-content: center;
}

.audio-progress{
  width: 100px;
}
.audio-list{
  padding-right: 15px;
  .audio-disc-icon{
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto auto auto 10px;

  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 5s linear infinite;
}






