@import '~antd/es/style/themes/variable';

.buyCard {
  background-color: transparent;
  border-color: @border-color-base !important;
  transition: all .3s ease .1s;


  &::after {
    display: none;
    border-color: @border-color-base;
  }

  :global {
    .ogo-pro-checkcard-description {
      font-size: 12px !important;
    }

    .ogo-pro-checkcard-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .app-desc {
      height: 37px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; //将对象作为弹性伸缩盒子模型显示。
      -webkit-box-orient: vertical; // 从上到下垂直排列子元素
      -webkit-line-clamp: 2; //显示的行数
    }

  }

  .operationBtn {
    font-size: 24px;
    height: max-content;
    transition: all .3s ease .1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .nameLabel {}

  .cardTitle {
    display: flex;
    flex-direction: column;

    .version {
      color: #C0C4CC;
      font-size: 12px;
      margin: 14px 0 0 9px;
    }
  }

  .btnBox {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    .btn {
      font-size: 12px;
      // height: 24px;
      // line-height: 24px;
      padding: 2px 14px;
      height: max-content;
      margin-left: 10px;
      border-color: #A1B7EF;
      color: #154ad8;
      font-weight: 550;
      transform: scale(.95);

      &:hover {
        color: #fff;
        border-color: #154ad8;
        background: #154ad8;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
        box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
      }
    }
  }


}
