.all-content {
  padding: 0 24px;
  padding-top: 20px;
  padding-bottom: 10px;
  background: #ffffff;
}
.layout-title {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  .layout-title-business {
    color: grey;
  }
  .layout-titlebinding {
    padding-left: 30px;
  }
}
.layout-header {
  height: 40px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .el-menu-demo {
    width: 8%;
    height: 100%;
    border-bottom: 2px solid #154ad8;
    display: flex;
    justify-content: center;
    // margin-left: 12%;
    .el-menu-demo-span {
      color: #154ad8;
      font-size: 16px;
    }
  }

  .back {
    width: 22%;
    display: flex;
    font-size: small;
  }

  .publish {
    .scale {
      margin-left: 20px;
    }
    i {
      margin-right: 6px;
    }
    .publish-preview {
      // width: 80px;
      margin-right: 10px;
    }
    .publis-issue {
      width: 80px;
    }
  }
}
