.layout-header {
    // min-width: 640px;
    margin-top:10px;
    position: relative;
    background: white;

    .el-menu-demo {
      top: 0;
      z-index: 999;
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight:bold;
      width: 100%;
    }

    .back {
      display: flex;
      position: absolute;
      z-index: 1000;
      top: 20px;
      left: 20px;
      font-size: small;
      span {
      margin-right: 15px;
      }
    //   span {
    //     display: flex;
    //     margin-left: 10px;
    //     font-size: 14px;
    //     align-items: center;
    //   }

    }

    .publish {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1000;

      .scale {
        z-index: 999;
        padding-left:10px;
        span {
          margin: 0 10px;
          font-size: 15px;
          color: #7a7a7a;
          width: 20px;
        }
      }

      i {
        margin-right: 6px;
      }
    }

  }