.group-input-box {
  height: 228px;
  display: flex;
  flex-direction: column;

  &__toolbar {
    height: 34px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }
  &__input-area {
    flex: 1;
    padding: 12px 24px 0 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    // Todo: 根据Bem原则待修改
    .citeSelect {
      width: 80px;
      height: 0;
      z-index: -1;
    }

    .textarea {
      flex: 1;
      max-height: 130px;
      overflow-y: auto;
      outline: none;
      border: none;

      .emoji {
        width: 20px;
        height: 20px;
        margin: 3px;
      }

      .cutImg {
        width: 150px !important;
        max-height: 300px;
      }
    }

    .textarea:empty::before {
      content: attr(placeholder);
      position: absolute;
      color: #ccc;
      background-color: transparent;
    }

    .cite-text {
      display: flex;
      &__content {
        background-color: #e5e5e5;
        max-width: 500px;
        word-wrap: break-word;
        word-break: break-all;
        width: fit-content;
        overflow: auto;
        border-radius: 5px;
        padding: 5px;
        font-size: 12px;
        color: #8b8b8b;
        .con_content_txt {
          img {
            width: 100%;
          }
        }
        .con_content_file {
          display: flex;
          text-align: left;
          width: 220px;
          height: 80px;
          background-color: #fffff7;
          padding: 7px 10px;
          margin: 0px 0px;
          margin-top: -20px;
          color: #3e5ed8;
          border-radius: 6px;
          z-index: 1;
          font-size: small;
          word-wrap: break-word;
          word-break: normal;
          position: relative;

          &_info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 100%;

            &_label {
              width: 140px;
              flex-grow: 1;
              padding-right: 10px;
              display: -webkit-box;
              text-overflow: ellipsis;
              overflow: hidden;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }

          &_Icon {
            padding: 5px;
            font-size: 50px;
            background-color: aliceblue;
          }

          :global {
            .ogo-btn-primary {
              background-color: #89c6ff85;
              border-color: #89c6ff85;
              color: #3e5ed8;
              box-shadow: none;
              text-shadow: none;
            }

            .ogo-btn-primary:hover {
              color: #f4f4ee;
            }
          }
        }
      }

      &__close-icon {
        cursor: pointer;
        color: #d0d0d0;
        height: 14px;
        max-width: 16px;
        margin-left: 4px;
      }
    }
  }

  &__action-bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
  }
}

.emoticons-picker {
  width: 360px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  &__item {
    display: flex;
    align-content: center;
    justify-content: center;
    .emoticon {
      width: 20px;
      height: 20px;
    }
  }
}
