.book_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ebeef5;
  .check {
    margin-right: 12px;
  }
  :global {
    .ogo-list-item {
      width: 100%;
    }
  }
  .book_item {
    cursor: pointer;
    margin: 0 10px;
  }
}
.book_ul:hover {
  background-color: #f1f1f1;
}

.select {
  background-color: #e6e6e6;
}

.pageCard {
  height: calc(100% - 35px);
  & > :global(.ogo-card-body) {
    height: calc(100% - 10px);
    padding: 2px 6px;
  }
  & > :global(.dx-datagrid-headers) {
    border-bottom: none;
  }
  .mainContent {
    height: calc(100% - 20px);
    overflow: auto;
  }
}
