.node-select {
    width: 320px;
    div {
      display: inline-block;
      margin: 5px 5px;
      cursor: pointer;
      padding: 10px 15px;
      border: 1px solid #F8F9F9;
      background-color: #F8F9F9;
      border-radius: 10px;
      width: 130px;
      height: 60px;
      position: relative;

      span {
        position: absolute;
        left: 65px;
        top: 18px;
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0 0 8px 2px #d6d6d6;
      }

      i {
        font-size: 25px;
        padding: 5px;
        border: 1px solid #dedfdf;
        border-radius: 14px;
      }
    }
  }