@import '~antd/dist/antd.less';
@import '@/assets/styles/reset.less';

// 此处存放全局使用样式
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: @component-background !important;
}

.layout__loading {
  width: 100%;
  height: 100%;
}

.pages-wrap {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}
.ogo-spin-nested-loading {
  height: 100%;
  .ogo-spin-container {
    height: 100%;
  }
}
// 全局弹出框modal样式调整
.ogo-modal-header {
  padding: 12px 16px;
  border-bottom: 0 !important;
}

.ogo-modal-header + .ogo-modal-body {
  border: 1px solid @border-color-base;
  border-radius: @border-radius-base;
  margin: @margin-xs @margin-lg;
  max-height: 684px;
  overflow-y: auto;
}

.ogo-modal-wrap {
  overflow: hidden;
}

.ogo-modal-footer {
  border-top: 0 !important;
  padding: 12px !important;
}

// end 全局弹出框modal样式调整

// more ··· 下拉操作菜单样式
.ogo-dropdown-menu {
  padding: @padding-xxs @padding-xs !important;
}
.ogo-dropdown-menu-item {
  border-radius: @border-radius-base;
}
// more ··· 下拉操作菜单样式  end
.ogo-result-title {
  font-size: 20px;
}

// 全局树结构
.ogo-tree .ogo-tree-node-content-wrapper.ogo-tree-node-selected {
  background-color: @component-background;
}
.ogo-tree .ogo-tree-treenode-draggable .ogo-tree-draggable-icon {
  display: none;
}
.ogo-tree-indent-unit {
  width: 8px !important;
}
.ogo-tree-switcher {
  width: 16px !important;
}

// 弹性布局 start
.flex {
  display: flex;
}

.flex.flex-direction-col {
  flex-direction: column;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}

.flex.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 滚动条优化
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  min-height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  // margin: 10px 0;
  border-radius: 5px;
}

::-webkit-scrollbar {
  background-color: @component-background;
}

::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #d1d1d1;
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #d1d1d1;
}

// 表情包图片大小
.emoji {
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

.ogo-avatar {
  border-radius: 10% !important;
}

:global {
  .ogo-card-body {
    padding: 16px;
  }
}

.ogo-dropdown-menu {
  max-height: 500px;
  overflow-x: scroll;
}

.dx-datagrid-headers {
  border-bottom: none !important;
}

.ogo-segmented-item-label {
  line-height: 10px;
  padding: 6px !important;
}

.ogo-image-preview-content {
  height: 100%;
}

.ogo-layout-header,
.ogo-layout,
.ogo-layout,
.ogo-layout-sider,
.CardWidthTitle-wrap,
.dx-datagrid,
.dx-toolbar {
  background: @component-background;
  background-color: @component-background;
}

.dx-header-row,
.dx-command-edit {
  color: #565656;
  font-weight: 600;
  line-height: 25px;
}
.dx-resizable-handle {
  width: 2px;
  border-left: 1px solid #e3e2e280;
}

.dx-resizable-handle:active,
.dx-resizable-handle:hover {
  border: 1px dotted #154ad8;
}
.dx-data-row {
  cursor: pointer;
}

.dx-tab-selected {
  color: @text-color-inverse !important;
  background-color: @primary-color !important;
}
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
  background-color: @active-background;
}
