@import '~antd/dist/antd.less';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

body {
  font-family: 'Han Sans SC', Arial, Helvetica, 'Helvetica Neue', sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

// 此处存放全局使用样式
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: @component-background !important;
}

.flex {
  display: flex !important;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}
.pdr4 {
  margin-right: 4px;
}
.pdr2 {
  margin-right: 2px;
}
.mgl4 {
  margin-left: 4px!important;
}
.mgt8 {
  margin-top: 8px;
}
.fs12 {
  font-size: 12px!important;
}

.ellipsis1 {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line20 {
  font-size: 14px;
  line-height: 24px;
}

.layout__loading {
  width: 100%;
  height: 100%;
}

.pages-wrap {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}
.ogo-spin-nested-loading {
  height: 100%;
  .ogo-spin-container {
    height: 100%;
  }
}
// 全局弹出框modal样式调整
.ogo-modal-header {
  padding: 12px 16px;
  border-bottom: 0 !important;
}

.ogo-modal-header + .ogo-modal-body {
  border: 1px solid @border-color-base;
  border-radius: @border-radius-base;
  margin: @margin-xs @margin-lg;
  max-height: 684px;
  overflow-y: auto;
}

.ogo-modal-wrap {
  overflow-x: hidden;
}

.ogo-modal-footer {
  border-top: 0 !important;
  padding: 12px !important;
}

// end 全局弹出框modal样式调整

// more ··· 下拉操作菜单样式
.ogo-dropdown-menu {
  padding: @padding-xxs @padding-xs !important;
}
.ogo-dropdown-menu-item {
  border-radius: @border-radius-base;
}
// more ··· 下拉操作菜单样式  end
.ogo-result-title {
  font-size: 20px;
}

// 全局树结构
.ogo-tree .ogo-tree-node-content-wrapper.ogo-tree-node-selected {
  background-color: @component-background;
}
.ogo-tree .ogo-tree-treenode-draggable .ogo-tree-draggable-icon {
  display: none;
}
.ogo-tree-indent-unit {
  width: 8px !important;
}
.ogo-tree-switcher {
  width: 16px !important;
}

// 弹性布局 start
.flex {
  display: flex;
}

.flex.flex-direction-col {
  flex-direction: column;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}

.flex.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 滚动条优化
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  min-height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  // margin: 10px 0;
  border-radius: 5px;
}

::-webkit-scrollbar {
  background-color: @component-background;
}

::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #d1d1d1;
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #d1d1d1;
}

// 表情包图片大小
.emoji {
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

.ogo-avatar {
  border-radius: 10% !important;
}

.ogo-card-body {
  padding: 16px;
}

.ogo-dropdown-menu {
  max-height: 500px;
  overflow-x: scroll;
}

.dx-datagrid-headers {
  border-bottom: none !important;
}

.ogo-segmented-item-label {
  line-height: 10px;
  padding: 6px !important;
}

.ogo-image-preview-content {
  height: 100%;
}

.ogo-layout-header,
.ogo-layout,
.ogo-layout,
.ogo-layout-sider,
.CardWidthTitle-wrap,
.dx-datagrid,
.dx-toolbar {
  background: @component-background;
  background-color: @component-background;
}

.dx-header-row,
.dx-command-edit {
  color: #565656;
  font-weight: 600;
  line-height: 25px;
}
.dx-resizable-handle {
  width: 2px;
  border-left: 1px solid #e3e2e280;
}

.dx-resizable-handle:active,
.dx-resizable-handle:hover {
  border: 1px dotted @primary-color;
}
.dx-data-row {
  cursor: pointer;
}

.dx-tab-selected {
  color: @text-color-inverse !important;
  background-color: @primary-color !important;
}
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
  background-color: @active-background;
}
.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border-bottom: 1px solid #ebeef5;
}

.dx-button {
  border-color: @border-color;
}
.dx-list .dx-empty-message, .dx-list-item {
  border-top: 1px solid @border-color;
}
/**
  MainlayOut组件
*/
.main_layout {
  height: 100%;
  .header {
    background-color: @component-background;
    padding: 12px;
    border-radius: @border-radius-base;
    border-bottom: 2px solid @border-color;
    box-shadow: inset -20px 0px 10px 10px #f8f9ff;
  }
  .sider {
    width: 250px;
    height: 100%;
    background-color: @component-background;
    border-right: 1px solid @border-color;
    .menuBar {
      display: flex;
      padding: 0 30px;
      margin-top: 10px;
      justify-content: space-between;
    }
    .container {
      height: calc(100% - 60px);
      padding: 0 @padding-xs;
      overflow-y: scroll;
    }
    .title {
      border-radius: @border-radius-base;
      clear: both;
      padding: 8px;
      display: flex;
      gap: 2px;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      cursor: pointer;
      .backup {
        padding-top: 2px;
        color: @primary-color;
      }
      .label {
        font-size: 16px;
        white-space: nowrap;
        width: 160px;
        padding: 6px;
      }
    }
  }
  .body {
    display: flex;
    flex-direction: row;
    .content {
      display: flex;
      height: 100%;
      padding: 12px;
      background-color: @component-background;
      border-radius: @border-radius-base;
      overflow-y: auto;
      flex-direction: column;
    }
  }
}

/**
  CustomMenu
*/
.operateMenu {
  font-size: 14px;
  width: 100%;
  margin: 5px 0px;
  padding: 10px;
  color: #888;
  font-weight: bold;
  background-color: inherit;
}

.customMenu {
  overflow-y: scroll;
  overflow-x: hidden;
  border: none;
  .ogo-menu-submenu-selected {
    background-color: @custom-menu-active-background;
  }
  .ogo-menu-item-group-title {
    padding-left: 0;
  }
  .ogo-menu-sub.ogo-menu-inline {
    background: @component-background;
  }

  .ogo-menu-item,
  .ogo-menu-submenu-expand-icon,
  .ogo-menu-submenu-arrow,
  .ogo-menu-submenu .ogo-badge,
  .ogo-menu-item .ogo-badge,
  .ogo-menu-submenu {
    color: @system-menu-color;
  }
  .ogo-menu-submenu-selected,
  .ogo-menu-submenu-selected .ogo-badge,
  .ogo-menu-item-selected .ogo-badge,
  .ogo-menu-item:hover,
  .ogo-menu:not(.ogo-menu-horizontal) .ogo-menu-item-selected {
    color: @text-color;
    background-color: @custom-menu-active-background;
  }
  .ogo-menu-submenu-selected .ogo-menu-submenu-title .ogo-menu-item-icon,
  .ogo-menu-item:hover .ogo-menu-item-icon,
  .ogo-menu-item.ogo-menu-item-selected .ogo-menu-item-icon {
    color: @primary-color;
  }
  .ogo-menu-vertical,
  .ogo-menu-inline {
    border: none;
  }
  .ogo-menu-item-acitve,
  .ogo-menu-item-acitve:hover {
    color: @text-color;
  }
  .ogo-menu-inline .ogo-menu-item-selected::after {
    opacity: 0;
  }
  .ogo-menu-title-content {
    margin-left: 6px;
  }

  .ogo-menu-submenu-title {
    padding-top: 6px;
    padding-right: 6px;
    height: 35px !important;
    line-height: 35px !important;
  }

  .ogo-typography {
    color: inherit;
  }

  .ogo-menu-submenu-placement-rightTop {
    .ogo-menu-vertical .ogo-menu-submenu-title {
      padding-right: 8px;
      display: flex;
    }
  }
}

.ogo-menu-submenu-placement-rightTop {
  .ogo-menu-vertical .ogo-menu-submenu-title {
    padding-right: 8px;
    display: flex;
  }

  .ogo-menu-submenu-active .ogo-menu-submenu-title {
    color: @text-color;
    background-color: @custom-menu-active-background;
  }
}

.customlabel {
  display: contents;
  .label {
    margin: 0 10px;
    width: calc(100% - 30px);
  }

  .badge {
    position: absolute;
    right: 20px;
  }

  .moreButton {
    position: absolute;
    right: 2px;
  }
}

/**
  CustomBreadcrumb
*/
.customBreadcrumb {
  cursor: pointer;
  .anticon-down {
    display: none;
  }
}

/**
  ActivityContent
*/

.activityContent {
  .loadContext {
    height: 100%;
    width: 100%;
    .ogo-card-body {
      background-color: rgba(0,0,0,0)
    }
    .ogo-list-item {
      border-bottom: 1px solid @border-color-base;
      margin: 8px 0;
    }
  }
  .groupCtx {
    width: 100%;
    // height: calc(100vh - 300px);
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    gap: 6px;
    .groupList {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: calc(100vh - 30px);
      border-radius: 4px;
      padding: 8px;
      min-width: 500px;
      background: @component-background;
      &-selected {
        cursor: pointer;
        // padding: 8px;
        // margin: 8px;
        // border-radius: 16px;
        border: 1px solid @border-color;
        background-color: @active-background;
      }

      &-item {
        cursor: pointer;
        // padding: 8px;
        border-radius: 6px;
        border-bottom: 1px solid @border-color-base;
        &:hover {
          background-color: @active-background;
        }
      }
    }
  }
}

/**
  ActivityMessage
*/

.activityItem {
  // padding: 8px 0;
  // border-bottom: 1px solid @border-color-base;
  &-header {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
  }
  &-imageList {
    // max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    img {
      object-fit: cover; /* 这会保持图像的纵横比并居中截取部分内容 */
      object-position: center center; /* 图像在容器中水平和垂直居中 */
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    margin: 8px 0;
    justify-content: space-between;
    &-likes {
      flex: 1;
      background-color: #f2f2f2;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 4px;
      gap: 6px;
      font-size: 12px;
      line-height: 12px;
      flex-wrap: wrap;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  &-commentInputBox {
    transition: 0.2s;
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    &-sendBtn {
      color: @primary-color;
    }
  }

  &-commentList {
    margin-top: 8px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .likeColor {
    color: #cb4747;
  }
  .activityTime {
    font-size: 12px;
    color: #424A57;
    font-weight: 400;
    // line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    // margin: 8px 0;
  }
  .activityItem-content {
    // margin-bottom: 8px;
    .ogo-typography {
      margin-bottom: 0px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #424A57
    }
  }
  .activityItem-name {
    color: #15181D;
    /* 16/CN-Medium */
    font-family: PingFang SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

/**
  ActivityComment
*/

.activityCommet {
  display: flex;
  gap: 4px;
  color: rgba(0, 0, 0, 0.65);
  cursor: default;
  transition: 0.2s;
  padding: 4px;
  align-items: center;
  &:active {
    background: rgba(0, 0, 0, 0.05);
  }
  &-avatar {
    word-break: keep-all;
    display: inherit;
  }
  &-content {
  }
}

/**
  SelectMultFiles
*/

.selectMultFiles {
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .ogo-upload-picture-card-wrapper {
    width: auto;
  }
  .selectFileBtn {
    height: 100px;
    width: 100px;
    padding: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 46px;
    border: 1px solid #e7e7e7;
    text-align: center;
    font-size: 16px;
    &:hover {
      color: @primary-color;
      background-color: #e7e7e7;
    }
  }
}

/**
  UserInfo
*/

.userInfo {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 700;
}

/**
  WorkBench
*/

.workbench-content {
  width: 100%;
  color: #4c4c4c;
  height: calc(100vh - 300px);
  box-sizing: border-box;
  padding: 12px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  .cardGroup {
    display: flex;
    gap: 16px;
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .calendar {
    width: 100%;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    .cardItem {
      padding: 16px;
    }
  }

  .cardItem-header {
    .title {
      font-weight: bolder;
      font-size: 17px;
    }
    .remind {
      font-size: 12px;
      color: #ff0404;
      background-color: #fde8e0;
      padding: 2px 6px;
      margin-left: 7px;
      border-radius: 20px;
    }
    .extraBtn {
      float: right;
      font-size: 14px;
      color: #585858;
      cursor: pointer;
      padding-top: 4px;
      span {
        margin-left: 2px;
        margin-bottom: 2px;
      }
      &:hover {
        color: @primary-color;
      }
    }
  }
}

.cardItem {
  width: 100%;
  min-height: 180px;
  border-radius: 6px;
  padding: 16px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  &-sortable {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
  }
}

.cardItem-viewer {
  padding-top: 12px;
  min-height: 100px;
  .linkBtn {
    height: 40px;
    display: flex;
    padding: 8px 30px;
    background-color: #f5f5f5;
    &:hover {
      background: @active-background;
    }
  }
  .appGroup-title {
    font-weight: bolder;
    font-size: 18px;
    padding: 16px 2px;
  }
  .dataItem {
    min-width: 120px;
    padding: 16px;
    text-align: center;
    &Title {
      color: #686868;
      font-size: 14px;
      margin-bottom: 10px;
    }
    &Number {
      font-weight: bold;
      color: #313131;
      font-size: 28px;
    }
    &:hover {
      border-radius: 10px;
      background: @active-background;
    }
  }
}

.appCard {
  width: auto;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  min-width: 120px;
  .appName {
    font-size: 14px;
    font-weight: bold;
  }
  .teamName {
    color: #686868;
    font-size: 12px;
  }
  &:hover {
    border-radius: 10px;
    background: @active-background;
  }
}
/**
  ChatShareForward
*/
.chat-shareForward {
  position: relative;
  .ogo-checkbox-wrapper {
    width: 100%;
  }
  .ogo-list-item-meta {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ogo-list-items {
    position: relative;
  }
  .chatMem-list-item,
  .listItem {
    min-width: 240px;
  }
  .chatMem {
    position: relative;
  }
  .departLine {
    border-right: 1px solid #ebeef5;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    left: 50%;
    background-color: rgba(0, 0, 0, 0);
  }
  .chatShare-title {
    display: flex;
    align-items: center;
    .chatMem-search,
    .chosen-num {
      width: 30%;
      margin-left: 10px;
    }
  }

  .chatMem-list {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
  .chatMem-list:hover {
    background-color: rgb(248, 245, 245);
  }
  .chosen-list {
    margin-left: 10px;
  }
  .chatMem {
    position: relative;
    padding-bottom: 10px;
  }
  .chosenMem {
    position: relative;
  }
  .mem-wrap {
    height: calc(460px);
    overflow-y: scroll;
    padding-bottom: 20px;
  }
  .chosenMem-wrap {
    height: calc(460px);
    overflow-y: scroll;
    padding-bottom: 20px;
  }
}

/**
  NavigationBar
*/

.navigationBar {
  border-radius: 30px;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(@component-background, 0.6);
  display: flex;
  font-size: 14px;
  color: @text-color;
  align-items: center;
  padding: 6px 12px;
  transition: 0.2s;
  &-content {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 8px;
    white-space: nowrap;
    &__item {
      transition: 0.2s;
      cursor: pointer;
      padding: 4px 16px;
      &:hover {
        border-radius: 30px;
        background-color: @active-background;
      }
      &Active {
        cursor: not-allowed;
        padding: 4px 16px;
        border-radius: 30px;
        color: @text-color-inverse;
        background-color: @focus-background;
      }
    }
  }

  &-more {
    color: #000;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
  }

  &-open {
    height: auto;
    padding: 30px 20px 40px;
    background-color: @component-background;
    z-index: 1;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  }

  &-config {
    max-width: 800px;
    min-width: 400px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;
    }

    &-section {
      margin-bottom: 20px;
    }

    &-page-card {
      padding: 8px 24px;
      color: #424a57;
      background-color: #f7f8fa;
      border-radius: 27px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: @active-background;
      }
    }
  }
}


// EntityIcon 组件
.entityIcon {
  padding: 2px 1px;
  display: inline-block;
  .pickupName {
    color: @primary-color;
    margin-left: 6px;
    font-size: 12px;
    vertical-align: middle;
    // font-size: @fontSize
  }
  .avatarIcon {
    background: 'transparent';
    color: '#606060';
  }
}

// 左侧目录清单栏样式
.inventory-search-area {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 6px 12px;
  align-items: center;
}

// 会话相关样式
.chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
    background-color: #fcfcfc;
    padding-left: 12px;
    .msg-body {
      flex-grow: 1;
      overflow-y: auto;
      background-color: #fcfcfc;
      position: relative;
      &-warp {
        padding: 10px;
        transition: all 0.7s;
        .chat-space-time {
          margin: 0 auto;
          text-align: center;
          span {
            border-radius: 4px;
            font-size: 12px;
            display: inline-block;
            border-radius: 4px;
            font-size: 12px;
            padding: 2px 8px;
            color: #a8abb2;
          }
        }

        .user_head_img_wrap {
          margin-right: 0;
        }

        .history_more {
          text-align: center;
          color: var(--el-color-primary);
        }

        .con_body {
          max-width: 40vw;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
        }

        .con {
          display: flex;
          flex-direction: row;
          margin: 20px 2px;
          .con_img {
            height: 35px;
            width: 35px;
          }
          img {
            max-width: 100%;
            max-height: 400px;
          }
          .view_msg_gap {
            gap: 0 10px;
          }
          .con_content {
            max-width: 50%;
            .name {
              font-size: 12px;
              padding-left: 4px;
              color: #888;
            }
            .con_content_txt, .con_content_forward_txt {
              cursor: pointer;
              text-align: left;
              min-height: 30px;
              padding:  8px 16px;
              margin: 0px 0px;
              color: black;
              border-radius: 6px;
              z-index: 1;
              font-size: 14px;
              word-wrap: break-word;
              word-break: normal;
              line-height: normal;
            }
            .con_content_txt {
              display: flex;
            }
            .con_content_size {
              font-size: 12px;
              color: @text-color-secondary;
            }
            .con_content_txt_inner {
              margin-right: 4px;
            }

            .con_content_cite_txt {
              cursor: pointer;
              text-align: left;
              min-height: 30px;
              padding: 7px 10px;
              margin-top: 4px;
              color: black;
              border-radius: 6px;
              z-index: 1;
              max-width: 300px;
              word-break: normal;
              font-size: 12px;
              color: #8a8a8a;
              box-shadow: inset 0 0 1px #e9e9e9;
              background-color: #ebebeb;
              .emoji {
                width: 20px;
                height: 20px;
                margin: 5px;
              }
            }
            .con_content_forward_txt {
              color: rgb(70, 70, 70);
            }
            .con_content_forward_session {
              font-size: 14px;
              font-weight: 500;
              color: rgb(10, 10, 10);
              padding-right: 2px;
              margin-bottom: 6px;
            }
            .con_content_forward_msg {
              padding: 3px;
            }
          }
        }

        .recall {
          font-size: 12px;
          justify-content: center;

          .reWrite {
            margin-left: 4px;
            cursor: pointer;
            color: #3e5ed8;
          }
        }

        .left-msg-body {
          position: relative;
          .con_content {
            max-width: 100%;
            overflow: hidden;
            flex-direction: column;
            justify-content: flex-end;
            .con_content_txt, .con_content_forward_txt {
              background-color: @portal-background;
              max-width: 100%;
              box-shadow: inset 0 0 1px #cacaca;
              border-radius: var(--spacing-1, 8px);
              background: var(--Gray-100, #F2F4F7);
            }
          }
        }

        .right-msg-body {
          justify-content: flex-end;
          position: relative;
          .con_content {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            .con_content_txt, .con_content_forward_txt {
              color: #15181D;
              // background-color: @focus-background;
              margin-right: 10px;
              max-width: 100%;
              box-shadow: inset 0 0 1px #9292ff;
              border-radius: var(--spacing-1, 8px);
              background: var(--color-brand-Disabled, #B5C7FF);
            }
            .information {
              padding-right: 10px;
              cursor: pointer;
              color: @focus-background;
              transform: scale(0.8);
              font-weight: 700;
            }
            .readed {
              color: #888;
            }
          }
          .multiSelectStyl {
            position: absolute;
            left: 0;
          }
        }

        .context_text_wrap {
          position: absolute;
          // background-color: var(--el-bg-color-overlay);
          width: 80px;
          height: max-content;
          border: 1px solid var(--el-box-shadow-lighter);
          z-index: 999;

          .context_menu_item {
            padding: 4px 6px;
            cursor: pointer;
            text-align: center;

            &:hover {
              // background-color: var(--el-bg-color-page);
            }
          }
        }
      }
    }
  }
  &-send-box {
    border-radius: 8px;
    border: 1px solid @color-surface;
    background: #FFF;
    padding: 9px 16px;
    margin: 8px;
  }
  &-send-box-main {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    svg {
      cursor: pointer;
    }
    textarea {
      padding: 0;
    }
  }
  .chart_mulit_select {
    .chart_mulit_select_wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #fff;
      padding: 10px;
      justify-content: space-around;
      height: max-content;
      min-height: 227px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .chart_mulit_select_action {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
    .chart_mulit_select_icon {
      display: inline-block;
      vertical-align: middle;
      padding: 12px;
      border-radius: 100%;
      background-color: rgb(199, 197, 197);
      margin-bottom: 6px;
      svg {
        vertical-align: middle;
      }
    }
  }
}
.chat-at-list {
  max-height: 400px;
  overflow: scroll;
  display: flex;
  gap: 6px;
  width: 220px;
  flex-direction: column;
  .chat-at-list-item {
    padding: 2px;
    font-size: 16px;
    display: flex;
    gap: 6px;
    align-items: flex-end;
    span {
      width: 100%;
      border-bottom: 1px solid @border-color;
    }
    &:hover {
      cursor: pointer;
      background-color: @item-hover-bg;
    }
  }
}

.cite-text {
  display: flex;
  width: 100%;
  background: var(--color-surface-, #F7F8FA);
  &-content {
    display: flex;
    justify-items: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: #6F7686;
    overflow: hidden;
    text-overflow: ellipsis;
    .con_content_txt {
      img {
        width: 100%;
      }
    }
    .con_content_file {
      display: flex;
      text-align: left;
      width: 220px;
      height: 80px;
      background-color: #fffff7;
      padding: 7px 10px;
      margin: 0px 0px;
      margin-top: -20px;
      color: #3e5ed8;
      border-radius: 6px;
      z-index: 1;
      font-size: small;
      word-wrap: break-word;
      word-break: normal;
      position: relative;

      &_info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;

        &_label {
          width: 140px;
          flex-grow: 1;
          padding-right: 10px;
          display: -webkit-box;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      &_Icon {
        padding: 5px;
        font-size: 50px;
        background-color: aliceblue;
      }

      :global {
        .ogo-btn-primary {
          background-color: #89c6ff85;
          border-color: #89c6ff85;
          color: #3e5ed8;
          box-shadow: none;
          text-shadow: none;
        }

        .ogo-btn-primary:hover {
          color: #f4f4ee;
        }
      }
    }
    .con_content_cite_txt {
      display: flex;
    }
  }

  &-close-icon {
    cursor: pointer;
    color: #d0d0d0;
    height: 14px;
    max-width: 16px;
    margin-left: 4px;
  }
}

.moreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

  li {
    padding: 10px 2px;
  }
}

.operate {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.voiceStyle {
  audio {
    width: 200px;
    height: 40px;
    overflow-x: hidden;
  }

  audio::-webkit-media-controls-start-playback-button,
  audio::-webkit-media-controls-end-playback-button,
  audio::-webkit-media-controls-mute-button,
  audio::-webkit-media-controls-timeline,
  audio::-webkit-media-controls-volume-slider,
  audio::-webkit-media-controls-overflow-button {
    display: none !important;
  }
  /* 自定义时间显示样式 */
  audio.time-display {
    color: #666;
    font-size: 10px;
  }
}

.msgAction {
  display: flex;
}

.actionIconStyl {
  color: #666;
  cursor: pointer;
  margin: 0 4px;
}

.actionIconStyl:hover {
  color: @primary-color;
}

.moreActionWrap {
  display: flex;
  flex-direction: column;
  .multiBtn {
    display: flex;
    align-items: center;
    padding: 6px;
  }
  .moreActionTxt {
    font-size: 12px;
  }
}
.multiSelectStyl {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
