.shortcuts-wrap {
  width: 100%;
  overflow: scroll;

  .shortcuts-btn {
    width: 150px;
    min-width: 104px;
    margin: 10px 15px;
    box-shadow: 0 2px 6px 0 #ccc;

    &:hover {
      color: #fff;
      background-color: #2b6ed9;
      border-color: #2b6ed9;
      box-shadow: 0 2px 6px 0 #2b6ed9;

      &:focus {
        border-color: transparent;
      }
    }
  }
}
