@import '~antd/es/style/themes/variable';

.page-layout {
  height: 100%;
}

.header {
  border-right: rgba(227, 226, 226, 0.5) solid 1px;
}

.main-content {
  height: 100%;
  background-color: aqua;
}
