@import '~antd/es/style/themes/variable';

.main_body {
  height: 100%;
}

.header {
  height: 54px;
  display: flex;
  padding: 2px 20px;
  border-bottom: rgba(227, 226, 226, 0.8) solid 1px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  .budget {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
  }
  .navbar {
    height: 60px;
    .barItem {
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
      flex-direction: column;
    }
  }
  .title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .title_selected {
    color: rgb(246, 255, 144);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}

.main-content {
  height: 100%;
  background-color: aqua;
  overflow: auto;
}
